<div class="details-container d-flex justify-content-between">
  <div class="left-side">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>
            <img src="{{bookDetails.image_url}}" alt="Book Cover">
          </td>
        </tr>
        <tr>
          <td>
            Pages: {{bookDetails.pages}}
          </td>
        </tr>
        <tr>
          <td>
            Rating: {{bookDetails.rating}} ({{bookDetails.rating_count}})
          </td>
        </tr>
        <tr>
          <td>
            Genres:
            <br>
            {{genreTypes}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="right-side">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>
            <div class="header-container">
              <h1 class="detail-title">{{bookDetails.title}}</h1>
              <h2>by {{authors}}</h2>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            {{bookDetails.description}}
          </td>
        </tr>
        <tr>
          <td>
            <a href="/reviews/{{bookDetails.title}}">Find Review</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

<div class="home-btn-container">
  <form class="form-group float-left" action="/" method="get">
    <button type="submit" class="btn btn-secondary">Home</button>
  </form>
</div>