<h2>Book Titles Beginning With {{searchLetter}}</h2>

<table class="table">
  {{#each titleResults}}
    <tr>
      <td><a href="/details/{{this.book_id}}">{{this.title}}</a></td>
    </tr>
  {{/each}}
</table>

<div class="home-btn-container">
  <form class="form-group float-left" action="/" method="get">
          <button type="submit" class="btn btn-warning">Home</button>
  </form>
</div>

<nav class="d-flex justify-content-end btn-group">

  {{#if prevPage}}
    <form action="/titles/{{searchLetter}}" method="get">
      <input type="hidden" name="offset" value="{{prevOffset}}">
      <button type="submit" class="btn btn-primary mx-1">Previous</button>
    </form>
  {{/if}}
  {{#if nextPage}}
    <form action="/titles/{{searchLetter}}" method="get">
      <input type="hidden" name="offset" value="{{nextOffset}}">
      <button type="submit" class="btn btn-primary mx-1">Next</button>
    </form>
  {{/if}}

</nav>